/* css styles */

.listing-description {
    font-weight: normal;
    font-size: 1em; /* Resets the text size to normal paragraph size */
    font-family: "Times New Roman"; /* Ensures the font matches the rest of the text */
}
